<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/skeleton.css') }}">
</head>


<body>
<header  class=" row main_nav header_color">
            <div class="container">
                <div class="three columns">
                    <a class=""  href="{{ url_for('home') }}"><strong>Covid</strong><em>Ready</em></a>
                </div>
                <div class="one column">
                    <a class=""  href="{{ url_for('home') }}">Home</a>
                </div>
                <div class="one column">
                    <a class=""  href="{{ url_for('test_sites') }}">Test Sites</a>
                </div>
                <div class="one column">
                    <a class=""  href="{{ url_for('food') }}">Food Distribution</a>
                </div>
                <div class="one column">
                    <a class=""  href="{{ url_for('book') }}">Book</a>
                </div>
                <div class="one column">
                    <a class=""  href="{{ url_for('anime') }}">Anime</a>
                </div>
                <div class="one column">
                    <a class=""  href="{{ url_for('manga') }}">Manga</a>
                </div>
                <div class="one column">
                    <a class=""  href="{{ url_for('games') }}">Games</a>
                </div>
                <div class="one column">
                    <a class=""  href="{{ url_for('youtube') }}">Youtube</a>
                </div>
            </div>
    </header>

    {% for game in games %}
        
        <div  class="row">
            <div  class="container">
          
                <div class = "two columns">
                    <img src = "/img/{{game.name}}.jpg" width="150" height="200">  
                </div>

                <div class = "seven columns">
                    <a href="{{game.link}}" >{{game.name}}</a> <br>
                    Rating {{game.rating}} <br>
                    Plaform: {{game.platform}} <br>
                    Released: {{game.released}} <br>
                    Site: {{game.site}} <br>
                </div>

                <div class = "two columns">
                    
                </div>
            </div>
        </div>
     

    {% endfor %}

    <footer class="row footer">
        <div class="four columns">
            <a href="https://www.miamidade.gov/global/initiatives/coronavirus/home.page">Miami-Dade site</a> <br>
            <a href="https://www.miamigov.com/Notices/News-Media/COVID-19-Updates">Updates</a> <br>
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/cases-in-us.html">Cases in the U.S.</a>
        </div>
        <div class="four columns">
            <a href="https://www.miamidade.gov/global/initiatives/coronavirus/home.page">General Resources</a> <br>
            <a href="https://www.miamidade.gov/global/initiatives/coronavirus/testing-locations.page">Testing</a> <br>
            <a href="https://www.miamidade.gov/global/initiatives/coronavirus/employment-business.page">Employment and Business Assistance</a> <br>
            <a href="https://www.miamidade.gov/global/initiatives/coronavirus/food-senior-services.page">Food Assistance and Senior Services</a> <br>
            <a href="https://www.miamidade.gov/global/initiatives/coronavirus/rental-housing-assistance.page">Rental and Housing Assistance</a> <br>
            <a href="https://www.miamidade.gov/global/initiatives/coronavirus/price-gouging-fraud.page">Price Gouging and Fraud</a> <br>
        </div>
        <div class="four columns">
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">What's Covid-19?</a> <br>
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">Symptoms</a> <br>
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/index.html">Prevent Getting Sick</a> <br>
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/index.html">If You Are Sick</a> <br>
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/daily-life-coping/index.html">Daily Life and Going Out</a> <br>
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/need-extra-precautions/index.html">People Who Need to Take Extra Precautions</a> <br>
        </div>
            <br><br> <a class="copyright">&copy; 2020 CovidReady. All Rights Reserved. </a>
</footer>

</body>
</html>
